/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header1 {
  background-color: var(--pri);
  padding: 1rem 0;
}

.header1 a {
  color: white;
  margin-right: 0.5rem;
}

.header1 i {
  margin-right: 3px;
}

.header2 {
  background-color: #f2f2f2;
}

.header2 .active-nav {
  background-color: var(--sec);
}

.header2 .active-nav a {
  color: white;
}

.header-nav > li {
  margin-left: 0.5rem;
  font-weight: 700;
  padding: 2rem 1rem;
}

.hero-div {
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.048)), to(rgba(255, 255, 255, 0.007))), url("../media/banner-1.jpg");
  background: linear-gradient(to left, rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.007)), url("../media/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-div div {
  padding-top: 13rem;
  padding-left: 12%;
}

.hero-div div > * {
  margin-bottom: 2rem;
}

.services-card {
  padding: 1.5rem;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 7px;
}

.services-card .services-card-svg img {
  height: 5rem;
}

.services-card h6 {
  font-weight: 800;
  margin-top: 1rem;
}

.solution-sec article {
  max-width: 75%;
  margin: 0 auto;
}

.whoWe-card * {
  margin-bottom: 1rem;
}

.whoWe-card img {
  height: 4rem;
}

.quote-sec {
  background-color: var(--pri);
  color: white;
  padding: 2rem 0;
}

.quote-sec p {
  color: white;
  line-height: 1;
}

.quote-sec a {
  color: white;
  border: 1px solid white;
}

.client-sec .client-logos a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  margin: 1%;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
  opacity: 0.5;
}

.footer {
  background-color: #343a3f;
  padding: 3rem 0;
  color: white;
}

.footer li {
  margin-top: 1rem;
  margin-right: 1rem;
}

.footer li a {
  color: #858282;
}

.footer address a {
  color: #cac7c7;
}

.footer small {
  margin-top: 2rem;
  text-align: center;
  color: #8b8888;
}

.footer small span {
  color: #d1cece;
  font-weight: 700;
}

:root {
  --pri: #dc3c45;
  --sec: #eb5f61;
  --ter: #343a3f;
  --text-gray: rgba(95, 93, 93, 0.918);
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.sec-padding {
  padding: 7rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.5rem;
}

strong {
  font-size: 2rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pri);
  text-shadow: 1px 1px 3px black;
}

strong span {
  color: black;
  margin-left: 0.5rem;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.7;
  text-shadow: 1px 1px 1px black;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

h5 {
  font-size: 1.4rem;
  font-weight: 700;
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid var(--pri);
  color: var(--pri);
}

.btn-pri {
  background-color: var(--pri);
  color: white;
  border: none;
}

.p-sec-head {
  font-size: 1.2rem;
  color: var(--text-gray);
}

p {
  font-size: 1rem;
  color: rgba(102, 101, 101, 0.823);
  margin: 1.5rem 0;
  line-height: 1.6;
}

.flexi-img {
  height: 100%;
  width: 100%;
}

.flexib-img {
  width: 100%;
}

.color-pri {
  color: var(--pri);
}

span {
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  margin: 1%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  margin: 1.5%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
  margin: 1%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  margin: 1%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin: 1%;
}

.flex-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
  margin: 1%;
}
/*# sourceMappingURL=style.css.map */